body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Menu {
  height: 150px;
  background-color: coral;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Menu button {
  width: 200px;
  height: 75px;
  background: green;
  color: white;
  border-radius: 5%;
  cursor: pointer;
}
.Menu button:hover {
  background: greenyellow;
}

.fight-area {
  background-color: plum;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}
.fight-area img {
  width: 150%;
}

.my-list {
  background: grey;
  display: flex;
  flex-wrap: wrap;
}
.my-list-pkm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
